<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mra.satpro">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713  id productivo: ca-app-pub-5240485303222073~4599704886-->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5240485303222073~4599704886"/>
        <activity android:name=".SeleccionaTestActivity"></activity>
        <activity android:name=".Reportar" />
        <activity android:name=".ResultadoExamenDetalle" />
        <activity android:name=".DiagnosticoExamen" />
        <activity android:name=".ResultadoModulo" />
        <activity android:name=".ResultadoExamen" />
        <activity android:name=".Examen" />
        <activity android:name=".InfoExamen" />
        <activity android:name=".Modulo" />
        <activity android:name=".Crucigrama" />
        <activity android:name=".Resultados" />
        <activity android:name=".SkyInvaderPlay" />
        <activity android:name=".ConfigurarModulo" />
        <activity android:name=".SeleccionaEscuela" />
        <activity android:name=".TemarioActivity" />
        <activity android:name=".ListaClasesActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>